@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

:root {
  --mirage-dark: #16222a;
  --mirage-medium: #1b3542;
  --mirage-light: #3a6073;
  --mirage-superlight: #a0b9c6;
  --white: #ffffff;
  --black: #000000;
  --yellow: #f6d02f;
}

:root {
  --color-background: var(--mirage-dark);
  --color-border: var(--mirage-superlight);

  --color-heading: var(--white);
  --color-text: var(--white);
  --color-logo: var(--mirage-superlight);
  --color-logo-hover: var(--white);

  --font-logo: 'Marck Script', cursive;
  --font-heading: 'Sofia Sans Condensed', sans-serif;
  --font-text: 'Sofia Sans Condensed', sans-serif;

  --drop-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  --transition-in: all 0.3s ease-in-out;
  --transition-out: all 0.15s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(150deg, var(--mirage-light), var(--mirage-dark));
  line-height: 1.6;
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.25rem;
  text-align: left;
}
